* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: 'BIZ UDPMincho', serif;
  background-color: #F5F5DC; /* Light cream background */
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
